.header{
width: 100vw;
height: 120px;
background: url("../img/listheder.png") no-repeat ;
background-size: contain;
}
.maxheight{
    height: 100vh;
    overflow: hidden;
}
ul{
    margin-bottom: 168px;
}
.item{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
}
.item img{
    width: 25%;
    height: 80px;
    padding: 10px;
    border-radius: 3px;
}
.item  .left{
    flex:1;
    margin-right: 10px;
}
.item .title{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color:#000;
    width:100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:2;

}
.item  .other{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}

.cartcrtol i{
    font-size: 18px;
    padding: 10px;

}
.cartcrtol i.plus{
    color:#d58f51;
}
.cartcrtol i.minus{
    color:#999;
}
.cartcrtol span{
    font-size: 14x;
    color:#333;
}
.footerBar{
    width: 100vw;
    height: 48px;
    background: #141C27;
    position: fixed;
    left:0;
    bottom:60px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    z-index: 999;
}
.footerBar .cart{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #141c27;
    position: absolute;
    left:20px;
    bottom:8px;
    text-align: center;
    line-height: 48px;

}
.total{
    margin-left: 80px;
    font-size: 18px;
    font-weight: 600;
    color:#d58f51;
}
.goOrder{
    position: absolute;
    right: 0;
    width: 100px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color:#fff;
    background: #d58f51;
}
.goods-detail{
    box-sizing: border-box;
    padding-bottom: 100px;
    position: fixed;
    bottom:48px;
    top:0;
    height: 100%;
    overflow-x:scroll;
    width: 100vw;
    background: #fff;
    border-top:1px solid #ccc;
    box-shadow: 0 -1px 3px #d0d0d0;
    z-index: 9999;
}
.goods-detail .img{
    width:90vw;
    height:40vw;
    margin:30px 5vw;
    border-radius: 5px;
    position: relative;  

}
.goods-detail  .bg{
    width:90vw;
    height:40vw;
    background-size: 100% 100%;
    position: absolute;
    border-radius: 5px;
    left:0;
    top:0;
    opacity: 0.3;
}
.goods-detail img{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;

}
.mask{
    width: 100vw;
    height: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
}
.goods-detail .desc{
    margin: 0 20px;
}
.desc .goodsname{
    font-size: 14px;
    color:#000;
    letter-spacing: 1px;
    line-height: 1.5;
}
.desc .title{
    color:#000;
    font-size: 14px;
    margin: 5px 0;
}
.desc-content{
    font-size:12px;
    color:#666;
    text-indent:12px;
    padding-bottom: 100px;
    line-height: 2;
}
.disable{
    color:#ccc !important;
}
.disabled{
   background: #666 !important;
}
.selectSpec{
    font-size: 14px;
    color:#fff  !important;
    background: #d58f51;
   display: inline-block;
   text-align: center;
   width:60px;
   height:25px;
   line-height: 25px;
    border-radius: 25px;
}
.disableSpec{
    background: #ccc;
}
.descspec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerbar{
   position: fixed;
   height: 48px;
   top:0;
   left: 0;
   z-index: 999;
   line-height: 48px;
   font-size: 16px;
   color:#333;
   border-bottom: 1px solid #eee;
   background: #fff;
   text-align: center;
   width: 100vw;
}
.projectWrap{
    background: #fff;
    height: 60vw;
    overflow-Y: scroll;
    border-top: 1px solid #eee;
    box-shadow: 0px 3px 5px #eee;
}
.projectWrap li{
    height: 30px;
    line-height:30px;
    color:#666;
    font-size: 14px;
}
.secList{
    margin: 0;
     display: flex;
     margin: 20px;
     align-items: center;
     justify-content: center;

}
.secList li{
  width:80px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  color:#666;
  line-height: 25px;
  border: 1px solid #ccc;
  margin-left:5px;
  margin-bottom: 5px;
}
.secList li.actived{
    color:#d58f51;
    border-color: #d58f51;
}
.carFoods{
    margin: 0;
    position: absolute;
    background: #fff;
    width: 100vw;
    padding-bottom: 20px;
    bottom: 48px;
    z-index: -1;
    border-top:1px solid #ccc;
}
.foodItem{
    display: flex;
    margin: 5px 20px;
    justify-content: space-between;
}
.nameFood{
    flex:1;
    font-size: 14px;
}



.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }
  
  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }
  
@media (prefers-reduced-motion) {
    .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  @-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }
  @-webkit-keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  
  @keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  
  .slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
  }
  @-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }
  @-webkit-keyframes rotateInDownRight {
    from {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
    }
  
    to {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes rotateInDownRight {
    from {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 0;
    }
  
    to {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .rotateInDownRight {
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight;
  }
  @-webkit-keyframes rotateOutUpRight {
    from {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      opacity: 1;
    }
  
    to {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
      opacity: 0;
    }
  }
  
  @keyframes rotateOutUpRight {
    from {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      opacity: 1;
    }
  
    to {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
      opacity: 0;
    }
  }
  
  .rotateOutUpRight {
    -webkit-animation-name: rotateOutUpRight;
    animation-name: rotateOutUpRight;
  }
  @-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }
  
  @-webkit-keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  