<div class="baseinfo-app">
  <ul class="lists">
    <li><span>用户名:</span><span>13299484755</span></li>
    <li><span>密码:</span><span>123456566</span></li>
    <li><span>姓名:</span><span>李明</span></li>
    <li><span>性别:</span><span>女</span></li>
    <li><span>会员等级:</span><span>白金会员</span></li>
    <li><span>电子邮箱:</span><span>132647758@qq.com</span></li>
    <li><span>出生年月:</span><span>1989-10-8</span></li>
    <li><span>注册时间:</span><span>108-7-19 12：00</span></li>
    <li><span>注册来源:</span><span>官网</span></li>
    <li><span>状态:</span><span>启用</span></li>
  </ul>
</div>
