.lists{
    margin: 40px 30px;
    font-size: 14px;
line-height: 2;
color:#666;
}
.lists li{
    margin-bottom: 15px;
    display: flex;
    
}
.lists li span:nth-child(1){
    display:inline-block;
    width:80px;
    text-align: right;
    margin-right: 30px;

}
