.header-nav{
    margin: 0 20px 10px 0;
}
:host ::ng-deep .ant-input{
width:120px;
margin-right: 20px;
}
:host ::ng-deep .ant-calendar-picker-icon{
    right:20px;
}
.member-app{
    margin:24px; 
    padding:40px 20px; 
    background: #fff;
    min-height: 100vh;
}