.member-app{
    box-sizing: border-box;
    padding: 40px 30px;
}
:host ::ng-deep .ant-table table{
    border:1px solid #eee;
}
:host ::ng-deep .ant-table-tbody > tr:nth-child(2n){
    background: #f7f7f7;
}